# Copy this file to .env and adjust values as needed.
# .env itself is listed in .gitignore and should never be pushed to GitHub.
DB_URL= postgresql://joeltalemwa:CLRpJX3JCcQJ9Dy0uNva4q6RF6psMXXc@dpg-danad2ek1f9s7382128g-a.virginia-postgres.render.com/taljoe
ENABLE_SQL_LOGGING= true
PORT=3000
NODE_ENV=development
